{% extends "visindasmidjan.html" %}
{% block title %}
Vísindasmiðjan
{% endblock %}

{% block page_content %}  

<div id="meginefni">
	<div id="bokatima">
		<h2>Bóka tíma</h2>
		<p>Vísindasmiðjan býður upp á tíma fyrir allt að 25 manna skólahópa í 2.-10. bekk. Tímarnir eru á <strong>mánudögum</strong>, <strong>þriðjudögum</strong> og <strong>föstudögum</strong>, annars vegar klukkan <strong>9:15</strong> og <strong>11:00</strong>.</p>
		<p>Upplýsingar um lausa tíma og bókunarform er að finna <strong><a href="/skraning/">hér</a></strong>.</p>
	</div>
	<div id="itarefni">
		<h2>Ítarefni</h2>
		<p>Á <strong><a href="/itarefni/">ítarefnissíðunni</a></strong> er að finna efni um uppstillingarnar sem við erum með hjá okkur í Vísindasmiðjunni, auk efnis tengt spjallinu við vísindamanninn.</p>
	</div>
	<div id="frettir">
		<h2>Fréttir og viðburðir</h2>
		<div class="field-content frettirMyndNedan">
			<a href="/visindasmidjan_og_barnamenningarhatid">
				<img typeof="foaf:Image" src="http://visindasmidjan.hi.is/sites/visindasmidjan.hi.is/files/styles/box_thumb/public/barnamenningarhatidvisindasmidja1.jpg?itok=FdMR_vcO" width="83" height="83" alt="Vísindasmiðja og Barnamenningarhátíð" />
			</a>
			<span class="field-content">
				<a href="/visindasmidjan_og_barnamenningarhatid">Vísindasmiðjan og Barnamenningarhátíð</a>
			</span>
			<div class="views-field views-field-created">
				<span class="field-content">04. okt. 2013</span>
			</div>
		</div>

		<div class="views-field views-field-title">
			<span class="field-content"><a href="http://ung.hi.is/node/359 ">Vísindasmiðjan ferðast með Háskólalestinni</a></span>
			<p>Í sumar hefur Vísindasmiðjan ferðast víða með svokallaðri Háskólalest. Við fórum á Laugarvatn, til Vestmannaeyja, Hólmavíkur, Dalvíkur og á Snæfellsnes. Við þökkum góðar móttökur á öllum þessum stöðum!</p>
		</div>  

		<div class="views-field views-field-title">
			<span class="field-content">Vísindasmiðjan er komin á fullt eftir gott jólafrí og er nú opin á mánudögum, þriðjudögum og föstudögum. Vísindasmiðjan er gríðarlega vinsæl hjá...</span>
		</div>  
	</div>  

</div>
<div style="width: 33%; float: left;">
	<div style="width: 100%">
		<h2>Um vísindasmiðjuna</h2>
		<div>Vísindasmiðja Háskóla Íslands var opnuð vorið 2012 í Háskólabíói.</div>
		<div>Markmið smiðjunnar er að efla áhuga ungmenna á vísindum og fræðum með gagnvirkum og lifandi hætti og styðja þannig við kennslu á sviði náttúru- og raunvísinda.</div>
													<p>Vísindasmiðja Háskóla Íslands er í góðu samstarfi við Raunvísindastofnun HÍ, Samtök Iðnaðarins og Orkuveitu Reykjavíkur um að efla áhuga ungs fólks á vísindum og fræðum.</p>
		<p><a href="http://www.hi.is/frettir/geggjud_ferd_i_alla_stadi">„Geggjuð ferð í alla staði“</a></p>
		<p><a href="/node/155">„Mér fannst allt frábært og snilld“</a></p>
	</div>

	<div style="width: 100%; float: left;">
		<h2>Vísindasmiðjan á Facebook</h2>
		<p><a href="https://www.facebook.com/Visindasmidjan">Á Facebook síðu Vísindasmiðjunar</a> geta nemendur og kennarar sett inn myndir frá heimsóknum, sagt frá því sem þeim fannst áhugaverðast, rætt um vísindi og fylgst með fréttum frá smiðjunni.</p>
	</div>
</div>

<br style="clear:both"/>
<!--
<div id="zone-content-wrapper" class="zone-wrapper zone-content-wrapper clearfix">
	<div id="zone-content" class="zone zone-content clearfix container-12">
		<aside class="grid-4 region region-sidebar-first" id="region-sidebar-first">
			<div class="region-inner region-sidebar-first-inner">


			<section class="block block-views block-v-sindavefurinn-block block-views-v-sindavefurinn-block even" id="block-views-v-sindavefurinn-block">
				<div class="block-inner clearfix">
					<h2 class="block-title">Vísindavefurinn</h2>
					<div class="content clearfix">
						<div class="view view-v-sindavefurinn view-id-v_sindavefurinn view-display-id-block view-dom-id-e52e95b3beab157744ecc96f5c47f2b5">
							<div class="view-content">
								<div class="item-list">
									<ul class="rotera">
										<li class="views-row views-row-1 views-row-odd views-row-first">
										<div class="views-field views-field-title">
											<span class="field-content">Hvernig fer títrun á edikssýru með natrínhýdroxíði fram?</span>
										</div>
										<div class="views-field views-field-link">
											<span class="field-content"><a href="http://www.visindavefur.is/?id=68332" class="visindavefur right">Skoða svar</a></span>
										</div>
										</li>
										<li class="views-row views-row-2 views-row-even">
										<div class="views-field views-field-title">
											<span class="field-content">Hvaða munur er á hugtökunum náttúruhamfarir og náttúruvá?</span>
										</div>
										<div class="views-field views-field-link">
											<span class="field-content"><a href="http://www.visindavefur.is/?id=68712" class="visindavefur right">Skoða svar</a></span>
										</div>
										</li>
										<li class="views-row views-row-3 views-row-odd views-row-last">
										<div class="views-field views-field-title">
											<span class="field-content">Hversu þykkur jökull huldi Reykjavík á síðasta jökulskeiði?</span>
										</div>
										<div class="views-field views-field-link">
											<span class="field-content"><a href="http://www.visindavefur.is/?id=69018" class="visindavefur right">Skoða svar</a></span>
										</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		</div>
	</aside>
</div>
-->
  
{% endblock %}
