{% extends "visindasmidjan.html" %}
{% block title %}
Vísindasmiðjan
{% endblock %}

{% block page_content %}  



<div class="view-content">
	<div class="views-row views-row-1 views-row-odd views-row-first">
		<div class="views-field views-field-field-bor-amyndin">
			<div class="field-content bordinnMynd">
				<a href="https://www.facebook.com/Visindasmidjan"><img typeof="foaf:Image" src="http://visindasmidjan.hi.is/sites/visindasmidjan.hi.is/files/styles/bordinn/public/visindasmidjan_bordi_taeki_0.jpg?itok=QcwlSaQG" width="640" height="298" alt="" /></a>
			</div>
		</div>  
		<div class="views-field views-field-title">
<span class="field-content"><a href="https://www.facebook.com/Visindasmidjan ">Vísindasmiðjan er á Facebook</a></span>
		</div>  
		<div class="views-field views-field-body">
			<div class="field-content">
				<p>Á Facebook síðu Vísindasmiðjunar geta nemendur og kennarar sett inn myndir frá heimsóknum, sagt frá því sem þeim fannst áhugaverðast, rætt um vísindi og fylgst með fréttum frá smiðjunni.</p>
			</div>
		</div>  
	</div>
	<div class="views-row views-row-2 views-row-even">
		<div class="views-field views-field-field-bor-amyndin">
			<div class="field-content bordinnMynd">
<a href="http://ung.hi.is/node/359"><img typeof="foaf:Image" src="http://visindasmidjan.hi.is/sites/visindasmidjan.hi.is/files/styles/bordinn/public/screen_shot_2014-09-02_at_09.11.47.png?itok=jU02wyat" width="640" height="298" alt="" /></a>
			</div>
		</div>  
		<div class="views-field views-field-title">
<span class="field-content"><a href="http://ung.hi.is/node/359 ">Vísindasmiðjan ferðast með Háskólalestinni</a></span>
		</div>  
		<div class="views-field views-field-body">
			<div class="field-content">
				<p>Í sumar hefur Vísindasmiðjan ferðast víða með svokallaðri Háskólalest. Við fórum á Laugarvatn, til Vestmannaeyja, Hólmavíkur, Dalvíkur og á Snæfellsnes. Við þökkum góðar móttökur á öllum þessum stöðum!</p>
			</div>
		</div>  
		<div class="views-field views-field-edit-node">
			<span class="field-content"></span>
		</div>
	</div>
	<div class="views-row views-row-3 views-row-odd views-row-last">
		<div class="views-field views-field-field-bor-amyndin">
			<div class="field-content bordinnMynd">
				<a href="http://dev4.stofnanir.hi.is/skraning"><img typeof="foaf:Image" src="http://visindasmidjan.hi.is/sites/visindasmidjan.hi.is/files/styles/bordinn/public/visindasmidjan_copy.png?itok=cjGvBibL" width="640" height="298" alt="" /></a>
			</div>
		</div>  
		<div class="views-field views-field-title">
<span class="field-content"><a href="http://dev4.stofnanir.hi.is/skraning ">Vísindasmiðjan</a></span>
		</div>  
		<div class="views-field views-field-body">
			<div class="field-content">
				<p>Í vor verður tekið á móti skólahópum á mánudögum, þriðjudögum og föstudögum. Skráning fer fram hér á síðunni.</p>
			</div>
		</div>  
		<div class="views-field views-field-edit-node">
			<span class="field-content"></span>
		</div>
	</div>
</div>



  
<div id="zone-content-wrapper" class="zone-wrapper zone-content-wrapper clearfix">
	<div id="zone-content" class="zone zone-content clearfix container-12">
		<aside class="grid-4 region region-sidebar-first" id="region-sidebar-first">
			<div class="region-inner region-sidebar-first-inner">



				<section class="block block-views block-frettir-forsida-block block-views-frettir-forsida-block odd" id="block-views-frettir-forsida-block">
					<div class="block-inner clearfix">
						<h2 class="block-title">Fréttir og viðburðir</h2>
						<div class="content clearfix">
							<div class="view view-frettir-forsida view-id-frettir_forsida view-display-id-block attachementAfter view-dom-id-72c655f0126ea88bcaa66e004292f608">
								<div class="attachment attachment-before">
									<div class="view view-frettir-forsida view-id-frettir_forsida view-display-id-attachment_1">
										<div class="view-content">
											<div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
												<div class="views-field views-field-field-slideshow">
													<div class="field-content"><a href="/fullbokad_i_visindasmidjuna_i_vor"><img typeof="foaf:Image" src="http://visindasmidjan.hi.is/sites/visindasmidjan.hi.is/files/styles/300_breidd/public/visindasmidjan_flaskan.jpg?itok=cR3ghmUB" width="300" height="213" alt="" /></a></div>
												</div>
												<div class="views-field views-field-title">
													<span class="field-content"><a href="/fullbokad_i_visindasmidjuna_i_vor">Fullbókað í Vísindasmiðjuna í vor</a></span>
												</div>
												<div class="views-field views-field-body">
													<span class="field-content">Vísindasmiðjan er komin á fullt eftir gott jólafrí og er nú opin á mánudögum, þriðjudögum og föstudögum. Vísindasmiðjan er gríðarlega vinsæl hjá...</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="view-content">
									<div class="views-row views-row-1 views-row-odd views-row-first frettirNedan">
										<div class="views-field views-field-field-slideshow">
											<div class="field-content frettirMyndNedan">
												<a href="/fullbokad_i_allar_smidjur_a_haustonn"><img typeof="foaf:Image" src="http://visindasmidjan.hi.is/sites/visindasmidjan.hi.is/files/styles/box_thumb/public/visindsmidjan.heimsokn.jpg?itok=1OjShbkg" width="83" height="83" alt="Heimsókn í Vísindasmiðju Háskóla Íslands" /></a>
											</div>
										</div>
										<div class="views-field views-field-title">
											<span class="field-content"><a href="/fullbokad_i_allar_smidjur_a_haustonn">Fullbókað í allar smiðjur á haustönn</a></span>
										</div>
										<div class="views-field views-field-created">
											<span class="field-content">18. sep. 2014</span>
										</div>
									</div>
									<div class="views-row views-row-2 views-row-even views-row-last frettirNedan">
										<div class="views-field views-field-field-slideshow">
											<div class="field-content frettirMyndNedan"><a href="/visindasmidjan_og_barnamenningarhatid"><img typeof="foaf:Image" src="http://visindasmidjan.hi.is/sites/visindasmidjan.hi.is/files/styles/box_thumb/public/barnamenningarhatidvisindasmidja1.jpg?itok=FdMR_vcO" width="83" height="83" alt="Vísindasmiðja og Barnamenningarhátíð" /></a></div>
										</div>
										<div class="views-field views-field-title">
											<span class="field-content"><a href="/visindasmidjan_og_barnamenningarhatid">Vísindasmiðjan og Barnamenningarhátíð</a></span>
										</div>
										<div class="views-field views-field-created">
											<span class="field-content">04. okt. 2013</span>
										</div>
									</div>
								</div>
								<div class="view-footer">
									<div class="hnappurhi">
										<a href="/frettalisti">Fréttalisti</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>



				<section class="block block-nodeblock block-130 block-nodeblock-130 even" id="block-nodeblock-130">
					<div class="block-inner clearfix">
						<h2 class="block-title">Háskólinn og samfélagið</h2>
						<div class="content clearfix">
							<div id="node-130" class="node node-efni-blokkir clearfix" about="/samstarf" typeof="sioc:Item foaf:Document" class="node node-efni-blokkir node-published node-not-promoted node-not-sticky author-admin odd clearfix" id="node-efni-blokkir-130">
								<div class="content" class="content clearfix">
									<div class="field field-name-body field-type-text-with-summary field-label-hidden">
										<div class="field-items">
											<div class="field-item even" property="content:encoded">
												<p>Vísindasmiðja Háskóla Íslands er í góðu samstarfi við Raunvísindastofnun HÍ, Samtök Iðnaðarins og Orkuveitu Reykjavíkur um að efla áhuga ungs fólks á vísindum og fræðum.</p>
												<table align="left" border="0" cellpadding="3" cellspacing="1" style="width: 220px; ">
													<tbody>
														<tr>
															<td style="text-align: left; vertical-align: middle; "><img alt="" src="/sites/visindasmidjan.hi.is/files/hi_logo_positiv_is_vert.jpg" style="width: 110px; height: 73px; float: right; " /></td>
															<td style="text-align: left; vertical-align: middle; "><img alt="" src="/sites/visindasmidjan.hi.is/files/logo_or.jpg" style="width: 110px; height: 92px; float: left; " /></td>
															<td style="text-align: left; vertical-align: middle; "> </td>
														</tr>
														<tr>
															<td style="text-align: right; vertical-align: middle; "><img alt="" src="/sites/visindasmidjan.hi.is/files/logo_samtok_idnadarins.png" style="width: 70px; height: 63px; float: right; " /></td>
															<td style="text-align: left; vertical-align: middle; ">Samtök Iðnaðarins</td>
															<td> </td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</aside>


	<div  class="grid-4 region region-content" id="region-content">
		<div id="content-tabs" class=""></div><!-- /#content-tabs -->
		<section class="block block-nodeblock block-2 block-nodeblock-2 odd" id="block-nodeblock-2">
			<div class="block-inner clearfix">
				<h2 class="block-title">Um Vísindasmiðjuna</h2>
				<div class="content clearfix">
					<div id="node-2" class="node node-efni-blokkir node-teaser clearfix" about="/velkomin_i_visindasmidju_haskola_islands" typeof="sioc:Item foaf:Document" class="node node-efni-blokkir node-teaser node-published node-not-promoted node-not-sticky author-admin even clearfix" id="node-efni-blokkir-2">
						<div class="content" class="content clearfix">
							<div class="field field-name-body field-type-text-with-summary field-label-hidden">
								<div class="field-items">
									<div class="field-item even" property="content:encoded">
										<p class="p1"><img alt="" src="/sites/visindasmidjan.hi.is/files/mynd_af_visindastrak_2_0.jpg" style="width: 166px; height: 111px; float: left; margin: 7px; " /></p>
										<div>
											<div>Vísindasmiðja Háskóla Íslands var opnuð vorið 2012 í Háskólabíói.</div>
											<div>Markmið smiðjunnar er að efla áhuga ungmenna á vísindum og fræðum með gagnvirkum og lifandi hætti og styðja þannig við kennslu á sviði náttúru- og raunvísinda.</div>
										</div>
									</div>
								</div>
							</div> 
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
		<section class="block block-nodeblock block-129 block-nodeblock-129 even" id="block-nodeblock-129">
			<div class="block-inner clearfix">
				<h2 class="block-title">Myndir</h2>
				<div class="content clearfix">
					<div id="node-129" class="node node-efni-blokkir clearfix" about="/myndir" typeof="sioc:Item foaf:Document" class="node node-efni-blokkir node-published node-not-promoted node-not-sticky author-admin odd clearfix" id="node-efni-blokkir-129">
						<div class="content" class="content clearfix">
							<div class="field field-name-body field-type-text-with-summary field-label-hidden">
								<div class="field-items">
									<div class="field-item even" property="content:encoded">
										<p><a href="/node/131"><img alt="Fyrsta heimsóknin í Vísindasmiðjuna" src="/sites/visindasmidjan.hi.is/files/visindasmidja-fyrsta-heimsokn-2-vefur_0.jpg" style="width: 280px; height: 198px;" /></a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
		
		<section class="block block-nodeblock block-122 block-nodeblock-122 odd" id="block-nodeblock-122">
			<div class="block-inner clearfix">
				<h2 class="block-title">Umsagnir</h2>
				<div class="content clearfix">
					<div id="node-122" class="node node-efni-blokkir clearfix" about="/umsagnir" typeof="sioc:Item foaf:Document" class="node node-efni-blokkir node-published node-not-promoted node-not-sticky author-admin even clearfix" id="node-efni-blokkir-122">
						<div class="content" class="content clearfix">
							<div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p><a href="http://www.hi.is/frettir/geggjud_ferd_i_alla_stadi">„Geggjuð ferð í alla staði“</a></p>
										<p><a href="/node/155">„Mér fannst allt frábært og snilld“</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>



	<aside class="grid-4 region region-sidebar-second" id="region-sidebar-second">
		<div class="region-inner region-sidebar-second-inner">
			<div class="block block-nodeblock block-125 block-nodeblock-125 odd block-without-title" id="block-nodeblock-125">
				<div class="block-inner clearfix">
					<div class="content clearfix">
						<div id="node-125" class="node node-efni-blokkir clearfix" about="/blokk_6" typeof="sioc:Item foaf:Document" class="node node-efni-blokkir node-published node-not-promoted node-not-sticky author-admin odd clearfix" id="node-efni-blokkir-125">
							<div class="content" class="content clearfix">
								<div class="field field-name-body field-type-text-with-summary field-label-hidden">
									<div class="field-items">
										<div class="field-item even" property="content:encoded">
											<p><a href="/node/132"> <img alt="Háskóli Íslands" src="/sites/visindasmidjan.hi.is/themes/hi/images/takki_blue.png" /></a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<section class="block block-views block-v-sindavefurinn-block block-views-v-sindavefurinn-block even" id="block-views-v-sindavefurinn-block">
				<div class="block-inner clearfix">
					<h2 class="block-title">Vísindavefurinn</h2>
					<div class="content clearfix">
						<div class="view view-v-sindavefurinn view-id-v_sindavefurinn view-display-id-block view-dom-id-e52e95b3beab157744ecc96f5c47f2b5">
							<div class="view-content">
								<div class="item-list">
									<ul class="rotera">
										<li class="views-row views-row-1 views-row-odd views-row-first">
										<div class="views-field views-field-title">
											<span class="field-content">Hvernig fer títrun á edikssýru með natrínhýdroxíði fram?</span>
										</div>
										<div class="views-field views-field-link">
											<span class="field-content"><a href="http://www.visindavefur.is/?id=68332" class="visindavefur right">Skoða svar</a></span>
										</div>
										</li>
										<li class="views-row views-row-2 views-row-even">
										<div class="views-field views-field-title">
											<span class="field-content">Hvaða munur er á hugtökunum náttúruhamfarir og náttúruvá?</span>
										</div>
										<div class="views-field views-field-link">
											<span class="field-content"><a href="http://www.visindavefur.is/?id=68712" class="visindavefur right">Skoða svar</a></span>
										</div>
										</li>
										<li class="views-row views-row-3 views-row-odd views-row-last">
										<div class="views-field views-field-title">
											<span class="field-content">Hversu þykkur jökull huldi Reykjavík á síðasta jökulskeiði?</span>
										</div>
										<div class="views-field views-field-link">
											<span class="field-content"><a href="http://www.visindavefur.is/?id=69018" class="visindavefur right">Skoða svar</a></span>
										</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>



			<div class="block block-nodeblock block-174 block-nodeblock-174 odd block-without-title" id="block-nodeblock-174">
				<div class="block-inner clearfix">
					<div class="content clearfix">
						<div id="node-174" class="node node-efni-blokkir clearfix" about="/facebook" typeof="sioc:Item foaf:Document" class="node node-efni-blokkir node-published node-not-promoted node-not-sticky author-admin even clearfix" id="node-efni-blokkir-174">
							<div class="content" class="content clearfix">
								<div class="field field-name-body field-type-text-with-summary field-label-hidden">
									<div class="field-items">
										<div class="field-item even" property="content:encoded">
											<p><a href="https://www.facebook.com/Visindasmidjan" target="_blank"><img alt="Fylgstu með okkur á Facebook" src="/sites/visindasmidjan.hi.is/files/facebookvisindasmidjan.png" style="width: 250px; height: 76px;" /></a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>




			<section class="block block-nodeblock block-126 block-nodeblock-126 even" id="block-nodeblock-126">
				<div class="block-inner clearfix">
					<h2 class="block-title">Bæklingur</h2>
					<div class="content clearfix">
						<div id="node-126" class="node node-efni-blokkir clearfix" about="/blokk_7" typeof="sioc:Item foaf:Document" class="node node-efni-blokkir node-published node-not-promoted node-not-sticky author-admin odd clearfix" id="node-efni-blokkir-126">
							<div class="content" class="content clearfix">
								<div class="field field-name-body field-type-text-with-summary field-label-hidden">
									<div class="field-items">
										<div class="field-item even" property="content:encoded">
											<p><a href="/sites/visindasmidjan.hi.is/files/131747_flyer_visinda_0.pdf" style="font-size: 13px;" target="_blank"><img alt="" src="/sites/visindasmidjan.hi.is/files/visindasmidjan_-_baeklingur.png" style="width: 250px; height: 249px;" /></a></p>
											<p><a href="http://www.facebook.com/Visindasmidjan" style="font-size: 13px; line-height: 20px;" target="_blank"><strong style="font-size: 13px;"> </strong></a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>



		</div>
	</aside>
</div>
  
{% endblock %}
