{% extends "visindasmidjan.html" %}
{% load staticfiles %}
{% block title %}
Vísindasmiðjan
{% endblock %}

{% block page_content %}  

<div id="meginefni">
	<div id="bokatima">
		<a href="/skraning/">
			<div class="bordi-3" style="background: url({% static "img/bordi-boka_tima.310x100px.jpeg" %});">
				<div class="bordatexti">Bóka tíma</div>
			</div>
		</a>
		<p>Vísindasmiðjan býður upp á tíma fyrir allt að 25 manna skólahópa. Tímarnir eru <strong>9:15–10:45</strong> og <strong>11:00–12:30</strong>, <strong>þriðjudaga</strong> til <strong>föstudaga</strong>.</p>
	</div>
	<div id="itarefni">
		<a href="/itarefni/">
			<div class="bordi-3" style="background: url({% static "img/bordi-itarefni-310x100px.jpeg" %});">
				<div class="bordatexti">Ítarefni</div>
			</div>
		</a>
		<p>Hér má finna efni um uppstillingar sem við erum með hjá okkur í Vísindasmiðjunni, auk annars ítarefnis tengt vísindaspjalli og vinnusmiðjum sem í boði eru.</p>
	</div>
	<div id="um_visindasmidjuna">
		<a href="/um_visindasmidjuna/">
			<div class="bordi-3" style="background: url({% static "img/bordi-starfsfolk-310x100px.jpeg" %});">
				<div class="bordatexti">Um Smiðjuna</div>
			</div>
		</a>
		<p>Markmið Vísindasmiðju Háskóla Íslands er að efla áhuga ungmenna á vísindum og fræðum með gagnvirkum og lifandi hætti, og styðja þannig við kennslu á sviði náttúru- og raunvísinda.</p>
	</div>
</div> <!-- #meginefni -->

<div id="frettir">
	<h2>Fréttir og viðburðir</h2>
	<div class="frett">
		<div class="frettamynd">
			<img width="218" height="200" title="Heimsókn hælisleitenda í Vísindasmiðju" alt="Heimsókn hælisleitenda í Vísindasmiðju" src="{% static 'frettir/img/haelisleitendur1_vefur.jpeg' %}"></img>
		</div>
		<div class="frettatexti">
			<span class="field-content"><a href="/starfsfolk_visindasmidju_tok_a_moti_haelisleitendum"> Starfsfólk Vísindasmiðju tók á móti hælisleitendum</a></span>
		</div>
		<div class="views-field views-field-body">
			<span class="field-content">Vísindasmiðja Háskóla Íslands fékk til sín góða ge… </span>
		</div>
	</div>
	<div class="frett">
		<div class="frettamynd">
			<img width="218" height="200" alt="Háskóli Íslands" src="{% static 'frettir/img/fludaskoli.png' %}"></img>
		</div>
		<div class="frettatexti">
			<span class="field-content"><a href="/visindasmidjan_i_fludaskola">Vísindasmiðjan í Flúðaskóla</a></span>
		</div>
		<div class="views-field views-field-body"><span class="field-content">Baldur heldur utan um vindmyllusmiðjur í Vísindasm</span></div>
	</div>
	<div class="frett">
		<div class="frettamynd">
			<img width="218" height="200" title="Jólakveðja Vísindasmiðjunnar" alt="Jólakveðja Vísindasmiðjunnar" src="{% static 'frettir/img/visindasmidjan_jolakvedja.jpg' %}"></img>
		</div>
		<div class="frettatexti">
			<a href="/gledileg_jol">Gleðileg jól!</a></span>
		</div>
		<div class="views-field views-field-body"> <span class="field-content"> Árið 2015 var viðburðarríkt hjá Vísindasmiðjunni. … </span> </div>
	</div>
	<div class="frett">
		<div class="frettamynd">
			<img width="218" height="200" title="Vísindasmiðjan með opið hús" alt="Vísindasmiðjan með opið hús" src="{% static 'frettir/img/lego.jpg'%}"></img>
		</div>
		<div class="views-field views-field-title">
			<span class="field-content"><a href="/first_lego_league_keppni_og_visindasmidjan_opin">FIRST LEGO League keppni og Vísindasmiðjan opin</a></span>
		</div>
		<div class="views-field views-field-body"><span class="field-content">Vísindasmiðjan var opin fyrir gesti og gangandi sí…</span></div>
	</div>
</div>

<div id="samfelagsmidlar">
	<h2>Vísindasmiðjan á samfélagsmiðlum</h2>
	<p>Fylgist með fréttum af starfi Vísindasmiðjunnar, nýjum tækjum og opnum dögum á <a href="https://www.facebook.com/Visindasmidjan">Facebook síðu Vísindasmiðjunar</a>. Smiðjan er svo með myllumerkið <a href="https://www.instagram.com/explore/tags/v%C3%ADsindasmi%C3%B0jan/">#vísindasmiðjan</a> eða <a href="https://www.instagram.com/explore/tags/visindasmidjan/">#visindasmidjan</a>.</p>

<!-- SnapWidget -->
<script src="http://snapwidget.com/js/snapwidget.js"></script>
<iframe src="http://snapwidget.com/in/?h=dmlzaW5kYXNtaWRqYW58aW58MTI1fDZ8MXx8bm98NXxub25lfG9uU3RhcnR8bm98eWVz&ve=060316" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>

</div>

{% endblock %}
