{% extends "visindasmidjan.html" %}
{% load static from staticfiles %}

{% block page_script %}
<script src="{% static "stjornumerki/js/stjornumerki.js" %}"></script>
<link type="text/css" rel="stylesheet" href="{% static "stjornumerki/css/stjornumerki.css" %}" media="all" />
<script>
manudur = {
	'janúar': 31,
	'febrúar': 29,
	'mars': 31,
	'apríl': 30,
	'maí': 31,
	'júní': 30,
	'júlí': 31,
	'ágúst': 31,
	'september': 30,
	'október': 31,
	'nóvember': 30,
	'desember': 31,
}
function dagatal() {
	for (var man in manudur) {
		console.log(man)
		console.log(manudur[man])
		console.group()
		for (var dag=1; dag <= manudur[man]; dag++) {
			console.log(dag)
		}
		console.groupEnd()
	}
}
//$(dagatal())
</script>
{% endblock %}

{% block page_content %}
<main>
<header>
<h1>Lýsingar stjörnumerkjanna</h1>
<p>Þessi síða kannar hversu vel stjörnumerkið þitt passar þér raunverulega.</p>
</header>

<section id="faedingardagur">

<h2>Veldu fæðigarmánuð þinn og -dag, og smelltu svo á <q>birta lýsingar</q>.</h2>
<table id="manudir" style="float: left;">
	<tr>
		<td id="jan" data-manudur="01" class="manudur">Janúar</td>
		<td id="feb" data-manudur="02" class="manudur">Febrúar</td>
		<td id="mar" data-manudur="03" class="manudur">Mars</td>
		<td id="apr" data-manudur="04" class="manudur">Apríl</td>
	</tr>
	<tr>
		<td id="mai" data-manudur="05" class="manudur">Maí</td>
		<td id="jun" data-manudur="06" class="manudur">Júní</td>
		<td id="jul" data-manudur="07" class="manudur">Júlí</td>
		<td id="agu" data-manudur="08" class="manudur">Ágúst</td>
	</tr>
	<tr>
		<td id="sep" data-manudur="09" class="manudur">September</td>
		<td id="okt" data-manudur="10" class="manudur">Október</td>
		<td id="nov" data-manudur="11" class="manudur">Nóvember</td>
		<td id="des" data-manudur="12" class="manudur">Desember</td>
	</tr>
</table>
<table id="dagar" style="float: left;">
	<tr>
		<td id="1" class="dagur">1</td>
		<td id="2" class="dagur">2</td>
		<td id="3" class="dagur">3</td>
		<td id="4" class="dagur">4</td>
		<td id="5" class="dagur">5</td>
		<td id="6" class="dagur">6</td>
		<td id="7" class="dagur">7</td>
		<td id="8" class="dagur">8</td>
		<td id="9" class="dagur">9</td>
		<td id="10" class="dagur">10</td>
	</tr>        
	<tr>         
		<td id="11" class="dagur">11</td>
		<td id="12" class="dagur">12</td>
		<td id="13" class="dagur">13</td>
		<td id="14" class="dagur">14</td>
		<td id="15" class="dagur">15</td>
		<td id="16" class="dagur">16</td>
		<td id="17" class="dagur">17</td>
		<td id="18" class="dagur">18</td>
		<td id="19" class="dagur">19</td>
		<td id="20" class="dagur">20</td>
	</tr>        
	<tr>         
		<td id="21" class="dagur">21</td>
		<td id="22" class="dagur">22</td>
		<td id="23" class="dagur">23</td>
		<td id="24" class="dagur">24</td>
		<td id="25" class="dagur">25</td>
		<td id="26" class="dagur">26</td>
		<td id="27" class="dagur">27</td>
		<td id="28" class="dagur">28</td>
		<td id="29" class="dagur">29</td>
		<td id="30" class="dagur">30</td>
		<td id="31" class="dagur">31</td>
	</tr>
</table>
<button onclick="birta_lysingar($('.manudur.valinn').attr('id'), $('.dagur.valinn').attr('id'))">Birta lýsingar</button>
</section>

<section id="lysingar"></section>

<section id="nidurstodur"></section>
{% endblock %}
