{% extends "visindasmidjan.html" %}
{% load static from staticfiles %}

{% block page_content %}

<h2>Starfsemi Vísindasmiðjunnar</h2>

<p>Háskóli Íslands leggur áherslu á að glæða áhuga ungs fólks á vísindum og fræðum og hefur staðið fyrir margs konar verkefnum í þeim tilgangi. Vísindasmiðja Háskóal Íslands leikur þar lykilhlutverk en sem dæmi um önnur verkefni sem miða að sama marki má þar nefna Háskóla unga fólksins, Vísindavefinn og Háskólalestina.</p>

<p>Markmið smiðjunnar er að efla áhuga ungmenna á vísindum og fræðum með gagnvirkum og lifandi hætti og styðja þannig við kennslu á sviði náttúru- og raunvísinda. Heimsóknir í Vísindasmiðjuna eru grunnskólum að kostnaðarlausu og hafa viðbrögð skóla og umsagnir verið með eindæmum góð.</p>

<div style="float:right"><a href="{% static "img/visindasmidjan-kort-google_maps.png" %}"><img width="240px" src="{% static "img/visindasmidjan-kort-google_maps.png" %}" /></a></div>
<h2>Staðsetning</h2>
<p>Vísindasmiðjan er staðsett í norðurenda Háskólabíós við innganginn sem snýr að Hagatorgi. Opið er þrjá daga vikunnar: mánudaga, þriðjudaga og föstudaga. Skráning heimsókna fer fram <a href="/skraning/">hér á síðunni</a>.</p>

<p>Í Vísindasmiðjunni er góð aðstaða fyrir skólahópa; rúmgott svæði fyrir yfirhafnir og töskur, notalegt athvarf til að borða nesti og gott aðgengi. Margir strætisvagnar nema staðar á háskólasvæðinu; við Hringbraut, Suðurgötu, Hagatorg og víðar.</p>

<h2>Heimsóknir</h2>

<p>Vísindasmiðjan hefur tekið á móti hópum af öllum stigum frá leikskólum upp í framhaldsskóla en heimsóknirnar nýstast best nemendum í 6. til 10. bekk grunnskóla. Enginn aðgangseyrir er í Vísindasmiðjuna og er þjónustan skólum landsins að kosnaðarlausu.</p>
<p>Hámarksstærð hópa er 30 einstaklingar og varir heimsóknin um 90 mínútur.</p>
<p>Við komu er hópnum skipt í tvennt. Annar helmingurinn fær þá kynningu á ákveðnu efni (vísindaheimspeki, jarðfræði eða stjörnufræði) á meðan hinum eru kynnt nokkrar uppstillingar sem í Vísindasmiðjunni leynast. Eftir 30 mínútur skipta hóparnir um stað og svo fá þeir saman frjálsan tíma síðustu 30 mínúturnar.</p>
<p>

<h2>Starfsfólk</h2>

<div style="float: left; width: 19%; padding: 2px;">
	<img width="90%" src="{% static "starfsfolk/img/ari_olafsson.jpg" %}" />
	<div> Ari Ólafsson<br />Forstöðumaður og leiðbeinandi </div>
</div>
<div style="float: left; width: 19%; padding: 2px;">
	<img width="90%" src="{% static "starfsfolk/img/helga_run_hlodversdottir.jpg" %}" />
	<div> Helga Rún Hlöðversdóttir<br />Leiðbeinandi </div>
</div>
<div style="float: left; width: 19%; padding: 2px;">
	<img width="90%" src="{% static "starfsfolk/img/jon_gunnar_thorsteinsson.jpg" %}" />
	<div> Jón Gunnar Þorsteinsson<br />Leiðbeinandi og kennari
	</div>
</div>
<div style="float: left; width: 19%; padding: 2px;">
	<img width="90%" src="{% static "starfsfolk/img/kristbjorg_anna_thorarinsdottir.jpg" %}" />
	<div> Kristbjörg Anna Þórarinsdóttir<br />Leiðbeinandi </div>
</div>
<div style="float: left; width: 19%; padding: 2px;">
	<img width="90%" src="{% static "starfsfolk/img/margret_eva_thordardottir.jpg" %}" />
	<div>
Margrét Eva Þórðardóttir<br />Leiðbeinandi
	</div>
</div>
<div style="float: left; width: 19%; padding: 2px;">
	<img width="90%" src="{% static "starfsfolk/img/margret_gunnarsdottir.jpg" %}" />
	<div>
Margrét Gunnarsdóttir<br />Umsjónarmaður og tengiliður
	</div>
</div>
<div style="float: left; width: 19%; padding: 2px;">
	<img width="90%" src="{% static "starfsfolk/img/martin_swift.jpg" %}" />
	<div>
Martin Swift<br />Leiðbeinandi og kennari
	</div>
</div>
<div style="float: left; width: 19%; padding: 2px;">
	<img width="90%" src="{% static "starfsfolk/img/snaebjorn_gudmundsson.jpg" %}" />
	<div>
Snæbjörn Guðmundsson<br />Leiðbeinandi og kennari
	</div>
</div>
<div style="float: left; width: 19%; padding: 2px;">
	<img width="90%" src="{% static "starfsfolk/img/saevar_helgi_bragason.jpg" %}" />
	<div>
Sævar Helgi Bragason<br />Leiðbeinandi og kennari
	</div>
</div>

<h2 style="clear:both">Saga Vísindasmiðjunnar</h2>
<p>Vísindasmiðja Háskóla Íslands var opnuð vorið 2012 í Háskólabíói og hefur verið nánast fullbókað frá fyrsta degi.</p>

<p>Vísindasmiðjan er að hluta grundvölluð á veglegri gjöf frá Orkuveitu Reykjavíkur, sem afhenti Háskóla Íslands allan þann búnað og tæki sem áður tilheyrðu Rafheimum í Elliðaárdal og notaður var til fræðslu skólabarna. Háskólinn tók við gjöf Orkuveitunnar með fyrirheit um að búnaður og tæki yrði notað áfram til fræðslu ungmenna og yrðu hvati að fjölbreyttum og lifandi kennsluaðferðum.</p>

{% endblock %}
