{% extends "visindasmidjan.html" %}
{% load staticfiles %}

{% block page_content %}

	<div class="hugleiding">Af hverju víxla flatir speglar bara á hægri og vinstri, en ekki upp og niður?</div>
	<h3>Rimlaspeglar</h3>
	<p>Spegilmyndum má einnig blanda saman við aðrar myndir. Rimlaspeglarnir eru gerðir þannig úr garði að þegar þú situr andspænis annarri manneskju með rimplaspeglana á milli sérð þú eingöngu mjóar ræmur af sessunautnum þínum en á milli þeirra sést spegilmynd þín.</p> 
	<p>Með því að stilla ykkur rétt má láta myndirnar falla saman og búa til áhugaverða samblöndu tveggja manneskja.</p>
	<h3>Speglasamlokur</h3>
	<p>Það er líka hægt að leika sér talsvert með flata spegla. Speglasamlokurnar eru tveir planspeglar sem festir eru saman með hjörum. Með því að breyta horninu á milli þeirra er hægt að búa til ýmsar skemmtilegar myndir með því að margfalda mynd og búa til margar spegilmyndir.</p>
	<h3>Kattaraugu og endurskinsmerki</h3>
	<p>Þegar par planspegla er hornrétt hvor á annan spegla þeir ljósgeislum ætíð beint til baka í þá stefnu þaðan sem þeir komu. Þetta er undirstaðan í endurskinsmerkjum.</p>
	<p>Til að spegla öllu ljósi sama úr hvaða átt það kemur þarf þriðja spegilinn í viðbót sem liggur þá hornrétt á hina tvo. Slík uppsetning kallast <em>kattarauga</em>.

{% endblock %}
