{% extends "visindasmidjan.html" %}
{% load staticfiles %}

{% block page_content %}

	<h3>Foucault pendúll</h3>
	<p>Það er vel þekkt staðreynd að Jörðin er hnöttur sem snýst á ferð sinni um geiminn. Það er þessi snúningur sem veldur degi og nóttu þar sem sólin, rétt eins og aðrir hnettir himinhvelfingarinnar, virðist færast umhverfis Jörðuna.</p>
	<p>Þetta hefur einnig verið vel þekkt í langan tíma en þótt athuganir hafi bent eindregið til þess vantaði lengi vel sönnun á því.</p>
	<p>Dag einn var vísindamaðurinn Michel Foucault við vinnu í kjallara sínum þegar hann tók eftir því að fjöður í rennibekk sínum sveiflaðist ætíð í 
	Við höfum öll heyrt að jörðin snúist, en það er erfitt að sjá það þar sem maður stendur úti á götu eða engi. Jafnvel sólin, stjörnurnar og tunglið virðast snúast í kringum okkur frekar en að það séum við sem snúumst miðað við heiminn. En við getum notað pendúla til að kanna þetta nánar.</p>
	<p>TODO:
	mynd af OR Foucault pendúlnum,
	mynd af Pantheon???,
	myndband af tækinu í aksjón

	<p>Þegar við sveiflum pendúl en snúum uppistöðunni.</p>
	<p>Þegar við sveiflum pendúl í lengri tíma á jörðunni.</p>

{% endblock %}
