{% extends "visindasmidjan.html" %}

{% block page_content %}

<h2>Hljóðfæri</h2>
	<p></p>
	<h3>Söngskálin</h3>
	<p></p>
	<h3>Chladni plötur</h3>
	<iframe width="640" height="360" src="https://www.youtube.com/embed/wvJAgrUBF4w?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
	<p></p>
	<h3>Bylgjuberi</h3>
	<p></p>
	<h3>Hitastigulshljóðpípa</h3>
	<p></p>
	<h3>Tónrör</h3>
	<iframe width="640" height="360" src="https://www.youtube.com/watch?v=Y5seI0eJZCg" frameborder="0" allowfullscreen></iframe>
	<h3>Dósasími</h3>
	<p></p>
	<h3></h3>
	<p></p>

<h2>Viðauki A: </h2>

<h2>Ítarefni</h2>

{% endblock %}
