{% extends "visindasmidjan.html" %}
{% load staticfiles %}

{% block page_content %}

<article>
<h2>Hljóðfæri</h2>
	<p>Hljóð er ekkert annað en titringur. Þessi titringur berst eftir einhverju burðarefni (t.d. lofti, vatni eða borðplötu) frá hljóðgjafanum og ef hann berst okkur til eyrna skynjum við þennan titring sem hljóð. Með því að magna upp titring getum við búið til tóna en verkfæri sem við notum til þess nefnum við einmitt hljóðfæri.</p>

	<a href="songskalin">
		<div class="bordi" style="background: url({% static "itarefni/img/bordi-songskalin-950x160px.jpeg" %});">
			<div class="bordatexti">Söngskálin</div>
		</div>
	</a>
	<a href="chladni_plotur">
		<div class="bordi" style="background: url({% static "itarefni/img/bordi-chladni_plotur-950x160px.jpeg" %});">
			<div class="bordatexti">Chladni plötur</div>
		</div>
	</a>
	<a href="dosasimi">
		<div class="bordi" style="background: url({% static "itarefni/img/bordi-dosasimi-950x160px.jpeg" %});">
			<div class="bordatexti">Dósasími og hljóðrör</div>
		</div>
	</a>
	<a href="hitastigulshljodmagnari">
		<div class="bordi" style="background: url({% static "itarefni/img/bordi-hitastigulshljodmagnari-950x160px.jpeg" %});">
			<div class="bordatexti">Hljóðmögnun með hitastigli</div>
		</div>
	</a>
		https://www.youtube.com/watch?v=Vw0BvNcVPkk
	<section>
		<h3>Bylgjuberi</h3>
		<p></p>
	</section>
	<section>
		<h3>Tónrör</h3>
		<iframe width="640" height="360" src="https://www.youtube.com/watch?v=Y5seI0eJZCg" frameborder="0" allowfullscreen></iframe>
	</section>
	<section>
		<h3>Dósasími</h3>
		<p></p>
	</section>
	<section>
		<h3></h3>
		<p></p>
	</section>

<h2>Viðauki A: </h2>

<h2>Ítarefni</h2>

<h2>Heimildir</h2>
		http://sciencefriday.com/segment/10/10/2014/how-did-the-violin-get-its-shape.html

{% endblock %}
