{% extends "visindasmidjan.html" %}

{% block page_content %}

<h2>Hvirflar</h2>
	<p>Hvað er sameiginlegt með skautadönsurum og handlaugum?</h3>
	<p>Þegar við tökum tappann úr niðurfalli á hvers kyns vökvaíláti sem fullt hefur verið af vatni, myndast iðulega línulaga hvirfill í vatninu. Það tekur venjulega ekki langan tíma að koma fram en fer eftir því hve hratt vökvinn snérist áður. Það er algeng mýta að snúningur jarðar sé hér að verki líkt og í veðrakerfum. Raunin er sú að ílátin þyrftu að vera ??? að stærð til að snúningur jarðar hafi einhver áhrif þar á.</p>

	<p>Það sem veldur þessum hvirflum er í raun það sama sem veldur því að skautadansarar snúast hraðar ef þeir leggja af stað í snúning með höndum baðað út og draga þær sér svo upp að líkamanum. Lögmálið þarna að baki er kallað <em>varðveisla hverfiþungans</em>. Lögmálið segir einfaldlega að ef hlutur er að snúast í hring og hringurinn minnkar, verður hraði hlutarins að aukast.</p>

	<h3>Hvirfilflöskur</h3>
	<p>Hvirfilflöskurnar eru gerðar úr tveimur venjulegum plastflöskum sem skrúfaðar eru saman með millistykki. Í neðri flöskunni er vatn (með litarefni til að gera þetta svolítið skemmtilegra) og á millistykkinu er þrenging sem veldur því að ef flöskunum er snúið við lekur vatnið niður í gegnum gatið.</p>
	<p>En vatnið flæðir hægt því neðri flaskan er þegar full! ... af lofti. Til að vatnið komist ofan í neðri flöskuna þarf loftið að flæða eitthvert í burtu. Þess vegna drýpur vatnið svona hægt niður; einn dropa á móti loftbólu upp í efri flöskuna.</p>
	<p>En það eru tvær leiðir til að láta vatnið leka hraðar. Í fyrsta lagi gætum við gert göt á flöskurnar svo loftið nái að flæða framhjá millistykkinu svo vatnið geti flætt á fullri ferð niður um þrenginguna. Hin aðferðin byggir á því að búa til hvirfil: Með því að grípa um efri flöskuna og snúa vatninu myndast hvirfill þegar vatnið rennur niður. Vatnið þrýstist þá út í hliðar flöskustútsins þegar það rennur niður og við það myndast loftrás í miðju hvirfilsins þar sem loftið flæðir innan vatnsflaumsins í gegnum þrenginguna.</p>
	<p>Við það þurfa vatnið og loftið ekki lengur að skiptast á að flæða um opið og því flæðir vatnið hraðar niður.</p>

	<h3>Pústflöskur</h3>
	<p>Hvirflar eru þó ekki bundnir við línulega lögun. Þeir geta einnig verið hringlaga líkt og sjá má á myndinni hér til hliðar. Þegar við búum til snöggt loftpúst, til dæmis út um flöskustút, verður til hringlaga hvirfill sem veltur um sjálfan sig og berst frá stútnum.</p>

	<iframe width="854" height="480" src="https://www.youtube.com/embed/ifY8WQ2cFCU" frameborder="0" allowfullscreen></iframe>

	<!--
	<h3>Snúningsstandur</h3>
	<p></p>
	-->

	<h3>Viðauki A: Hvirfilbylir og önnur veðrakerfi</h3>
	<p>Veðurkerfi eru eilítið öðruvísi þótt þau falli vissulega (eins og allir hlutir í alheimi) undir ...</p>
	<h3>Viðauki B: Varðveisla hverfiþunga</h3>
	<p>Stærðfræðilega getum við sett þetta upp með því að skilgreina hverfiþunga sem margfeldi hraða, massa og fjarlægð hlutar frá snúningsás:
	p = m v r
	þar sem p er hverfiþunginn, m er massinn, v er hraðinn og r er fjarlægðin frá snúningsásinum.</p>
	<p>Lögmálið um varðveislu hverfiþungans segir okkur því að til að færa vatnspakka úr 100 cm frá niðurfalli í 1 cm fjarlægð, verður (að öllu öðru jöfnu) mun hraðinn aukast hundraðfallt! Þetta veldur því að vatnið flæðir ekki bara beint niður niðurfallið heldur snýst það sífellt hraðar og streitist þannig á móti .</p>


{% endblock %}
