{% extends "visindasmidjan.html" %}
{% load static from staticfiles %}

{% block page_content %}

<h2> Uppstillingar í vísindasmiðjunni</h2>
<div class="itarefni">
	<a href="speglar"><img width="220px" height="220px" src="{% static "itarefni/img/rimlaspeglabros-220px.jpeg" %}" /><span class="titill">Speglar</span></a>
</div>
<div class="itarefni">
	<a href="hvirflar"><img width="220px" height="220px" src="{% static "itarefni/img/hvirfilfloskur_a_golfi-220px.jpeg" %}" /><span class="titill">Hvirflar</span></a>
</div>
<div class="itarefni">
	<a href="rolur_og_adrir_pendular"><img width="220px" height="220px" src="{% static "itarefni/img/ostyrilati_martin-220px.jpeg" %}" /><span class="titill">Rólur og aðrir pendúlar</span></a>
</div>
<div class="itarefni">
	<a href="hljodfaeri"><img width="220px" height="220px" src="{% static "itarefni/img/syngjandi_vatnsskal_ari-220px.jpeg" %}" /><span class="titill">Hljóðfæri</span></a>
</div>
<div class="itarefni">
	<a href="rafmagn_og_seglar"><img width="220px" height="220px" src="{% static "itarefni/img/gripid_um_plasmakulu-220px.jpeg" %}" /><span class="titill">Rafmagn og seglar</span></a>
</div>
<div class="itarefni">
	<a href="ljos_og_litir"><img width="220px" height="220px" src="{% static "itarefni/img/litablondun_ljoss_martin-220px.jpeg" %}" /><span class="titill">Ljós og litir</span></a>
</div>
<div class="itarefni">
	<a href="girar_og_trissur"><img width="220px" height="220px" src="{% static "itarefni/img/.jpg" %}" /><span class="titill">Gírar og trissur</span></a>
</div>
<div class="itarefni">
	<a href="thrautir"><img width="220px" height="220px" src="{% static "itarefni/img/.jpg" %}" /><span class="titill">Þrautir</span></a>
</div>

<h2 style="clear:both" >Efni tengt vísindaspjalli og vinnusmiðjum</h2>
<div class="itarefni">
	<a href="visindaheimspeki"><img width="220px" height="220px" src="{% static "itarefni/img/visindavefurinn_logo.jpeg" %}" /><span class="titill">Vísindaheimspeki</span></a>
</div>
<div class="itarefni">
	<a href="jardfraedi"><img width="220px" height="220px" src="{% static "itarefni/img/jardfraedi_snaebjorn-220px.jpeg" %}" /><span class="titill">Jarðfræði</span></a>
</div>
<div class="itarefni">
	<a href="stjornufraedi"><img width="220px" height="220px" src="{% static "itarefni/img/.jpg" %}" /><span class="titill">Stjörnufræði</span></a>
</div>
<div class="itarefni">
	<a href="vindmyllur"><img width="220px" height="220px" src="{% static "itarefni/img/vindmyllur-220px.jpeg" %}" /><span class="titill">Vindmyllur</span></a>
</div>
<div class="itarefni">
	<a href="forritun"><img width="220px" height="220px" src="{% static "itarefni/img/forritun_a_hofn-220px.jpeg" %}" /><span class="titill">Forritun</span></a>
</div>
<div class="itarefni">
	<a href=""><img width="220px" height="220px" src="{% static "itarefni/img/.jpg" %}" /><span class="titill">Spenna og straumur</span></a>
</div>
<div class="itarefni">
	<a href=""><img width="220px" height="220px" src="{% static "itarefni/img/Sound_wave.jpg" %}" /><span class="titill">Hljóð og tónar</span></a>
</div>
<div class="itarefni">
	<a href=""><img width="220px" height="220px" src="{% static "itarefni/img/.jpg" %}" /><span class="titill">Líffræði</span></a>
</div>
<!--
<div class="itarefni">
	<a href=""><img width="220px" height="220px" src="{% static "itarefni/img/.jpg" %}" /><span class="titill">Efnafræði</span></a>
</div>
-->

https://xmdemo.wordpress.com/

http://www.animatedengines.com/

{% endblock %}
