{% extends "visindasmidjan.html" %}
{% load staticfiles %}

{% block page_content %}

	<h3>Huldugrísinn</h3>
	<p>Huldugrísinn okkar er gott dæmi um það hvernig hægt er að kasta spegilmyndum fram og til baka og búa til áhugaverðar spegilmyndir.</p>
	<p>Grísinn situr í botni íhvolfs spegils sem liggur flatur en ofan á honum er lagður annar íhvolfur spegill með gati í miðjunni. Þegar horft er í gatið sést spegilmynd gríssins en vegna þess hvernig geislarnir speglast upp og niður frá grísnum til augna okkar virðist hann fljóta í lausu lofti ofan við gatið. Í raun eru þetta bara spegilmyndin!</p>
	<p>Við erum vön því að spegilmyndir sé að finna handan spegilflatarins. Þetta er hins vegar ekkert náttúrulögmál og við getum vel fært spegilmyndina út úr speglinum með vel valdri staðsetningu og lögun spegla.</p>
	<div class="hugtakaskyring">Það er algeng ábending að þarna sé um "þrídí" (þ.e. 3D eða þrívídd) að ræða. Það er vissulega rétt ... að sama marki og að grísinn sjálfur er í þrívídd. Spegilmyndin hefur þó ekkert með þrívíddarmyndir eða almyndir (<i>e.</i> hologram) að gera; spegilmyndin er bara það: spegilmynd. Það sem gerir hana hins vegar merkilega er það að hún er okkar megin spegilplansins og því þykir okkur hún kannski eitthvað upphleyptari.</div>
	<h3>Kúluspegillinn</h3>
	<p>Annar spegill sem sýnir svipaða virkni er kúluspegillinn svarti. Hann er íhvolfur spegill með afar stuttan krapparadíus. Í honum sést umhverfið allt á hvolfi en þegar höndi er rekin inn að speglinum kemur spegilmyndin á móti manni út úr spegilplaninu.</p>

{% endblock %}
