{% extends "visindasmidjan.html" %}
{% load static from staticfiles %}

{% block page_content %}

<h2>Ljós og litir</h2>
	<h3>Samblöndun lita</h3>
	<img src="{% static "itarefni/img/litablondun_ljoss_martin-1024.jpeg" %}" width="300" style="float:right;" />
	<div class="hugleiding">Það er ákveðin ástæða fyrir þessum muni á frumlitum lita málningar og ljóss. Þegar við litum með málningu erum við að ákvarða hvaða ljós nær að endurkastast frá fletinum. Rauður tekur þannig í burtu grænan og bláan. Þegar við blöndum öðrum lit við erum við að taka enn fleiri liti í burtu. Við blöndun lita erum við ekki að taka liti í burtu heldur bæta við. Á þann hátt eru frumlitir ljóss andstæður og oft eru sægrænn, gulur og fjólublár sem fást við samblöndu tveggja ljósfrumlita notaðir sem frumlitir í prentun.</div>
	<p>Flestir hafa lært að blanda saman liti í myndmennt. Þar eru frumlitirnir þrír; gjarnan rauður, gulur og blár. Hinir fást svo með því að blanda frumlitunum saman. Þegar ljósi er blandað saman gilda þó aðrar reglur.</p>
	<p>Frumlitir ljóss eru rauður, grænn og blár og ráðast að megninu til af ljósnæmu keilum augans en það nemur þessa þrjá liti. Hina liti litrófsins skynjar augað sem samblöndu hinna litanna. Þetta getum við skoðað með ljósakassanum í Vísindasmiðjunni. Í honum eru þrír ljóskastarar, hver í sínum frumlit. Prufið að kveikja og slökkva á hverjum fyrir sig og sjá litinn sem úr því kemur. Eins má búa til skuggamyndir en vegna þess að skuggar kastaranna þriggja lenda ekki á sama stað verða þeir mislitir eftir þeim litum sem fylla upp í eyðuna.</p>
	<h3>Litróf ljóssins: Prismur, ljósgreiður og litrófssjár</h3>
	<p>Oft sést til regnboga þegar nýlega hefur stytt upp. Sólarljósið sem loksins brýst í gegnum skýin lendir á smáum vatnsdropum, litir ljóssins tvístrast og endurkastast til okkar sem regnbogann sjáum. Ljóstvístrunin kemur til af tvennu: Sólarljósið hvíta samanstendur í raun af öllum litum litrófsins. :að er bara þegar við blöndum þeim saman sem við fáum hvítt ljós.</p>
	<h3>Ósýnilegt ljós</h3>
	<p>
	<h3>Ljósbognun í sykurlausn</h3>

{% endblock %}
