{% extends "visindasmidjan.html" %}
{% load static from staticfiles %}

{% block page_content %}

<article>
<h2>Ljós og litir</h2>
	<section>
		<h3>Samblöndun lita</h3>
		<img src="{% static "itarefni/img/litablondun_ljoss_martin-1024.jpeg" %}" width="300" style="float:right;" />
		<div class="hugleiding">Það er ákveðin ástæða fyrir þessum muni á frumlitum lita málningar og ljóss. Þegar við litum með málningu erum við að ákvarða hvaða ljós nær að endurkastast frá fletinum. Rauður tekur þannig í burtu grænan og bláan. Þegar við blöndum öðrum lit við erum við að taka enn fleiri liti í burtu. Við blöndun lita erum við ekki að taka liti í burtu heldur bæta við. Á þann hátt eru frumlitir ljóss andstæður og oft eru sægrænn, gulur og fjólublár sem fást við samblöndu tveggja ljósfrumlita notaðir sem frumlitir í prentun.</div>
		<p>Flestir hafa lært að blanda saman liti í myndmennt. Þar eru frumlitirnir þrír; gjarnan rauður, gulur og blár. Hinir fást svo með því að blanda frumlitunum saman. Þegar ljósi er blandað saman gilda þó aðrar reglur.</p>
		<p>Frumlitir ljóss eru rauður, grænn og blár og ráðast að megninu til af ljósnæmu keilum augans en það nemur þessa þrjá liti. Hina liti litrófsins skynjar augað sem samblöndu hinna litanna. Þetta getum við skoðað með ljósakassanum í Vísindasmiðjunni. Í honum eru þrír ljóskastarar, hver í sínum frumlit. Prufið að kveikja og slökkva á hverjum fyrir sig og sjá litinn sem úr því kemur. Eins má búa til skuggamyndir en vegna þess að skuggar kastaranna þriggja lenda ekki á sama stað verða þeir mislitir eftir þeim litum sem fylla upp í eyðuna.</p>

http://webvision.med.utah.edu/book/part-viii-gabac-receptors/color-perception/



Hvers vegna er svona erfitt að lesa rauða stafi á bláum grunni?
http://www.visindavefur.is/svar.php?id=378

Hvað verður um hvíta litinn þegar snjórinn bráðnar?
http://www.visindavefur.is/svar.php?id=2034

Hvað verður um hvíta litinn þegar snjórinn bráðnar?
http://www.visindavefur.is/svar.php?id=59365
(bekkirnir spyrja svar)

Sér maður eitthvað sem er alveg svart ef það væri til?
http://www.visindavefur.is/svar.php?id=61957

Af hverju er himinninn blár?
http://www.visindavefur.is/svar.php?id=384

Hvers vegna er himinninn blár?
http://www.visindavefur.is/svar.php?id=5806

Sjá kettir liti í myrkri, ef já hvernig liti?
http://www.visindavefur.is/svar.php?id=5914

Eru til litir sem mannsaugað greinir ekki?
http://www.visindavefur.is/svar.php?id=295

Hvers vegna eru litir í öllum hlutum?
http://www.visindavefur.is/svar.php?id=7215

Hvað eru litir?
http://www.visindavefur.is/svar.php?id=733

Hvað eru til margir litir og hvað heita þeir allir?
http://www.visindavefur.is/svar.php?id=7151

Eru hvítt og svart litir?
http://www.visindavefur.is/svar.php?id=1746

Hvers vegna eru grunnlitir listmálara gulur, rauður og blár en grunnlitir tölvuskjáa og sjónvarpa rauður, grænn og blár?Hvers vegna eru grunnlitir listmálara gulur, rauður og blár en grunnlitir tölvuskjáa og sjónvarpa rauður, grænn og blár?
http://www.visindavefur.is/svar.php?id=483

Hvað er litblinda?
http://www.visindavefur.is/svar.php?id=4764

Hvaða dýr sjá liti rétt?
http://www.visindavefur.is/svar.php?id=626

Er hægt að lýsa lit?
http://www.visindavefur.is/svar.php?id=5586

Af hverju er sjórinn blár?
http://www.visindavefur.is/svar.php?id=65058

Af hverju er vatn glært?
http://www.visindavefur.is/svar.php?id=57282

Hvað orsakar litróf frumeinda og sameinda?
http://www.visindavefur.is/svar.php?id=24478

Af hverju eru blóm í mörgum litum? 
http://www.visindavefur.is/svar.php?id=50284

Þótt augun mín og þín greini ekki alla liti sem til eru, væri samt hægt að hugsa sér liti sem ekki eru þekktir?
http://www.visindavefur.is/svar.php?id=48657

Hvaða litur ljóssins kemst lengst niður í hafið?
http://www.visindavefur.is/svar.php?id=8527

Af hverju draga dökk föt að sér hita?
http://www.visindavefur.is/svar.php?id=59983

	</section>
	<section>
		<h3>Litróf ljóssins: Prismur, ljósgreiður og litrófssjár</h3>
		<p>Oft sést til regnboga þegar nýlega hefur stytt upp. Sólarljósið sem loksins brýst í gegnum skýin lendir á smáum vatnsdropum, litir ljóssins tvístrast og endurkastast til okkar sem regnbogann sjáum. Ljóstvístrunin kemur til af tvennu: Sólarljósið hvíta samanstendur í raun af öllum litum litrófsins og mismunandi litir ljóssins bogna mismikið á leið sinni í gegnum dropana.</p>

Hvernig myndast regnboginn?
http://www.visindavefur.is/svar.php?id=1572
	</section>
	<section>
		<h3>Ósýnilegt ljós</h3>
		<p>Munurinn á litum ljóssins felst í tíðni þess. Ljós er rafsegulbylgja sem breiðist frá ljósgjafa eins og gárur á vatni. Þessar gárur geta sveiflast mishratt og þessi hraði&mdash;eða tíðni&mdash;sveiflanna ákveður ljósið. Við skynjum rafsegulbylgjur sem sveiflast á bilinu ??? og ??? sinnum á sekúndu. En þetta er bara takmörkun á augunum okkar. Ljós getur hvort tveggja sveiflast hraðar og hægar en það!</p>
		<p>Augun okkar geta þó ekki skynjað slíkt ljós og því má tala um ósýnilegt ljós. Dæmi um ósýnilegt ljós eru innrautt ljós, örbylgjur og útvarpsbylgjur (með lægri tíðni en sýnilegt ljós), og útfjólublátt ljós, Röntgengeislar og gammageislar (með hærri tíðni en sýnilegt ljós).</p>
		<p>Hitageislun hluta nálægt herbergishita er einmitt innrautt ljós og því ósýnilegt okkur mannfólkinu. Alveg eins og við getum smíðað myndavélar sem eru næmar á sýnilegt ljós getum við búið til myndavélar sem eru næmar á aðra hluta rafsegulrófsins. Í Vísindasmiðjunni er einmitt myndavél af slíku tagi sem er næm á innrautt ljós. Þannig sér hún hitageislun frá misheitum hlutum nálægt herbergishita sem mismunandi innrauða "liti".</p>
		<p>Heitir hlutir birtast sem rauðir eða hvítir á meðan kaldari hlutir birtast grænir eða bláir.</p>
	</section>
	<section>
		<h3>Ljósbognun í sykurlausn</h3>
	</section>
</article>

{% endblock %}
