{% extends "visindasmidjan.html" %}
{% load static from staticfiles %}

{% block page_content %}

<article>
<h2>Ljós og litir</h2>
	<section>
		<h3>Samblöndun lita</h3>
		<img src="{% static "itarefni/img/litablondun_ljoss_martin-1024.jpeg" %}" width="300" style="float:right;" />
		<div class="hugleiding">Það er ákveðin ástæða fyrir þessum muni á frumlitum lita málningar og ljóss. Þegar við litum með málningu erum við að ákvarða hvaða ljós nær að endurkastast frá fletinum. Rauður tekur þannig í burtu grænan og bláan. Þegar við blöndum öðrum lit við erum við að taka enn fleiri liti í burtu. Við blöndun lita erum við ekki að taka liti í burtu heldur bæta við. Á þann hátt eru frumlitir ljóss andstæður og oft eru sægrænn, gulur og fjólublár sem fást við samblöndu tveggja ljósfrumlita notaðir sem frumlitir í prentun.</div>
		<p>Flestir hafa lært að blanda saman liti í myndmennt. Þar eru frumlitirnir þrír; gjarnan rauður, gulur og blár. Hinir fást svo með því að blanda frumlitunum saman. Þegar ljósi er blandað saman gilda þó aðrar reglur.</p>
		<p>Frumlitir ljóss eru rauður, grænn og blár og ráðast að megninu til af ljósnæmu keilum augans en það nemur þessa þrjá liti. Hina liti litrófsins skynjar augað sem samblöndu hinna litanna. Þetta getum við skoðað með ljósakassanum í Vísindasmiðjunni. Í honum eru þrír ljóskastarar, hver í sínum frumlit. Prufið að kveikja og slökkva á hverjum fyrir sig og sjá litinn sem úr því kemur. Eins má búa til skuggamyndir en vegna þess að skuggar kastaranna þriggja lenda ekki á sama stað verða þeir mislitir eftir þeim litum sem fylla upp í eyðuna.</p>
	</section>
	<section>
		<h3>Litróf ljóssins: Prismur, ljósgreiður og litrófssjár</h3>
		<p>Oft sést til regnboga þegar nýlega hefur stytt upp. Sólarljósið sem loksins brýst í gegnum skýin lendir á smáum vatnsdropum, litir ljóssins tvístrast og endurkastast til okkar sem regnbogann sjáum. Ljóstvístrunin kemur til af tvennu: Sólarljósið hvíta samanstendur í raun af öllum litum litrófsins og mismunandi litir ljóssins bogna mismikið á leið sinni í gegnum dropana.</p>
	</section>
	<section>
		<h3>Ósýnilegt ljós</h3>
		<p>Munurinn á litum ljóssins felst í tíðni þess. Ljós er rafsegulbylgja sem breiðist frá ljósgjafa eins og gárur á vatni. Þessar gárur geta sveiflast mishratt og þessi hraði&mdash;eða tíðni&mdash;sveiflanna ákveður ljósið. Við skynjum rafsegulbylgjur sem sveiflast á bilinu ??? og ??? sinnum á sekúndu. En þetta er bara takmörkun á augunum okkar. Ljós getur hvort tveggja sveiflast hraðar og hægar en það!</p>
		<p>Augun okkar geta þó ekki skynjað slíkt ljós og því má tala um ósýnilegt ljós. Dæmi um ósýnilegt ljós eru innrautt ljós, örbylgjur og útvarpsbylgjur (með lægri tíðni en sýnilegt ljós), og útfjólublátt ljós, Röntgengeislar og gammageislar (með hærri tíðni en sýnilegt ljós).</p>
		<p>Hitageislun hluta nálægt herbergishita er einmitt innrautt ljós og því ósýnilegt okkur mannfólkinu. Alveg eins og við getum smíðað myndavélar sem eru næmar á sýnilegt ljós getum við búið til myndavélar sem eru næmar á aðra hluta rafsegulrófsins. Í Vísindasmiðjunni er einmitt myndavél af slíku tagi sem er næm á innrautt ljós. Þannig sér hún hitageislun frá misheitum hlutum nálægt herbergishita sem mismunandi innrauða "liti".</p>
		<p>Heitir hlutir birtast sem rauðir eða hvítir á meðan kaldari hlutir birtast grænir eða bláir.</p>
	</section>
	<section>
		<h3>Ljósbognun í sykurlausn</h3>
	</section>
</article>

{% endblock %}
