{% extends "visindasmidjan.html" %}
{% load staticfiles %}

{% block page_content %}

	<h3>Mach pendúlaröð</h3>
	<div class="vidaukabutur">Reyndar hefur útslag pendúlsins einnig áhrif á sveiflutímann en það er hverfandi og mælist illa nema með afar nákvæmum mælitækjum.</div>
	<p>Sveiflutími pendúla ræðst nær eingöngu af lengd hans en er algerlega óháður massa kólfsins. Stuttir pendúlar hafa styttri sveiflutíma en langir en þannig má nota pendúla til þess að stjórna tifhraða klukku.</p>
	
	<p>Ef við hengjum upp tvo mis-langa pendúla og sveiflum þeim af stað á sama tíma mun sá styttri því stinga þann lengri af. Hins vegar munu þeir einstaka sinnum ná að slá aftur í takt þegar sá styttri er kominn nákvæmlega heilum fjölda sveiflum á undan þeim styttri. Með því að setja upp heila lengju af þessum pendúlum og stilla þá rétt má þannig fá ákveðin munstur.</p>
	
	<p>Mach pendúlaröðin er einmitt þannig upp sett. Pendúlarnir í pendúlaröðinni í Vísindasmiðjunni eru alls 17 og stilltir þannig að sá lengsti sveiflast 24 sveiflur á 80 sekúndum. Á sama tíma sveiflast sá næst-lengsti 25 sveiflur, sá þriðji lengsti 26 sveiflur, o.s.frv. Sá stysti sveiflast því 40 sinnum á þessum sama tíma.</p>
	
	<p>Þar sem allir pendúlarnir hafa sveiflast heilan fjölda sveiflna, eru þeir (eftir þessar 80 sekúndur) allir komnir aftur í takt. En á þessum 80 sekúndum gerist þó ýmislegt áhugavert.</p>

	<p>Eftir helming tímans hefur sá lengsti sveiflast 12 sinnum, þriðji lengsti hefur sveiflast 13 sinnum, sá fimmti lengsti 14 sinnum, og svo framvegis. Annar hver pendúll verður því í takt! Á sama tíma hefur annar lengsti pendúllinn sveiflast 12,5 sveiflur (tólf og hálfa sveiflu) svo hann er hálfri sveiflu "á eftir" þeim lengsta. Það sama gildir um fjórða lengsta, sjötta lengsta o.s.frv.; allir eru þeir hálfri sveiflu á eftir þeim sem eru á báða bóga.</p>

	<p>Svipað gerist eftir þriðjung sveiflutímans. Þá hefur þriðji hver pendúll sveiflast heilan fjölda sveifla. Sá stysti 8 sveiflur, sá fjórði stysti 9 sveiflur, sá sjöundi stysti 10 sveiflur o.s.frv. </p>
	
	</p>

	<h3>Pendúlklukkur</h3>

	http://www.tweentribune.com/article/tween56/big-clock-fixed-few-small-pennies/
	<h3>Taktmælar</h3>
	<h3>Jafna sveiflutíma pendúls</h3>
{% endblock %}
