{% extends "visindasmidjan.html" %}
{% load staticfiles %}

{% block page_content %}

	<h3>Mach pendúlaröð</h3>
	<div class="vidaukabutur">Reyndar hefur útslag pendúlsins einnig áhrif á sveiflutímann en það er hverfandi og mælist illa nema með afar nákvæmum mælitækjum.</div>
	<p>Sveiflutími pendúla ræðst af lengd hans en er algerlega óháður massa hans. Ef við hengjum upp tvo mis-langa pendúla og sveiflum þeim af stað á sama tíma mun sá styttri hafa styttri sveiflutíma og "stinga hann af". Hins vegar munu þeir einstaka sinnum ná að slá aftur í takt þegar sá styttri er kominn nákvæmlega einum eða fleiri sveiflum á undan. Með því að setja upp heila lengju af þessum pendúlum og stilla þá þannig að sá lengsti sveiflast 32 sveiflur á sama tíma og sá næsti sveiflast 33, sá þriðji lengsti sveiflast 34, o.s.frv.</p>

{% endblock %}
