{% extends "visindasmidjan.html" %}

{% block page_content %}

<h2>Rólur og aðrir pendúlar</h2>
<div class="hugtakaskyring">Flóknari hlutum má lýsa út frá hverfitregðu þeirra og eru þá kallaðir <em>eðlisfræðilegir pendúalar</em>.</div>
	<p>Pendúll er í raun bara eitthvað þungt sem hangir í léttri upphengju (t.d. spotta) og getur sveiflast. Rólur eru því dæmi um pendúla en þá er víðar að finna. Pendúlklukkur nota pendúla t.a.m. til að fylgjast með tímanum en svo má líka finna hluti sem hegða sér svo til eins og pendúlar: Hliðræn útvörp, brýr og skýjakljúfar eru öll dæmi um hluti sem haga sér líkt og pendúlar.</p>
	<p>Pendúlar eru afar merkileg fyrirbæri. Hreinir kraftar</p>
	<h3>Róló pendúla</h3>
	<p>Rólur eru sem fyrr segir pendúlar og róla fram og til baka. Hins vegar </p>
	<h3>Foucault pendúll</h3>
	<p>Við höfum öll heyrt að jörðin snúist, en það er erfitt að sjá það þar sem maður stendur úti á götu eða engi. Jafnvel sólin, stjörnurnar og tunglið virðast snúast í kringum okkur frekar en að það séum við sem snúumst miðað við heiminn. En við getum notað pendúla til að kanna þetta nánar.</p>
	<p>Þegar við sveiflum pendúl en snúum uppistöðunni.</p>
	<p>Þegar við sveiflum pendúl í lengri tíma á jörðunni.</p>
	<h3>Mach pendúlaröð</h3>
	<p></p>
	<h3>Vagga Newtons</h3>
	<p></p>

<h2>Viðauki A: </h2>

{% endblock %}
