{% extends "visindasmidjan.html" %}
{% load staticfiles %}

{% block page_content %}

<h2>Rólur og aðrir pendúlar</h2>
<div class="hugtakaskyring">Flóknari pendúlum má lýsa út frá hverfitregðu þeirra og eru þá kallaðir <em>eðlisfræðilegir pendúalar</em>.</div>
	<p>Pendúll er heiti yfir eitthvað þungt sem hangir í léttri upphengju (t.d. spotta) og getur sveiflast. Rólur eru því dæmi um pendúla en þá er víðar að finna. Pendúlklukkur nota pendúla t.a.m. til að fylgjast með tímanum en svo má líka finna hluti sem hegða sér svo til eins og pendúlar: Hliðræn útvörp, brýr og skýjakljúfar eru öll dæmi um hluti sem haga sér líkt og pendúlar.</p>
	<p>Pendúlar eru því ekki síst merkilegir fyrir það hvað þá er víða að finna.</p>
	<p>Í vísindasmiðjunni erum við með nokkra pendúla:</p>
	<a href="rolo_pendula">
		<div class="bordi" style="background: url({% static "itarefni/img/bordi-rolo_pendula-950x160px.jpeg" %});">
			<div class="bordatexti">Róló Pendúla</div>
		</div>
	</a>
	<a href="foucault_pendull">
		<div class="bordi" style="background: url({% static "itarefni/img/bordi-foucoult_pendull-950x160px.jpeg" %});">
			<div class="bordatexti">Foucault pendúll</div>
		</div>
	</a>
	<a href="mach_pendularod">
		<div class="bordi" style="background: url({% static "itarefni/img/bordi-mach_pendularod-950x160px.jpeg" %});">
			<div class="bordatexti">Mach pendúlaröð</div>
		</div>
	</a>
	
	<h3>Vagga Newtons</h3>
	<p></p>

<h2>Viðauki A: </h2>

{% endblock %}
