{% extends "visindasmidjan.html" %}
{% load staticfiles %}

{% block page_content %}

<article>
	<section>
		<h3>Söngskálin</h3>
		<p>Söngskálin er einföld skál sem er gædd þeim merkilega eiginleika að geta sveiflast nokkuð vel án þess að sveiflan dofni. Líkja má skálinni við rólu en skál úr leir væri þá afar riðguð svo eftir að ýta henni af stað mundi sveiflan mögulega dofna svo mikið í fyrstu sveiflunni að ómögulegt væri að ná henni á flug. Söngskálin væri þá vel smurð róla sem sveiflast vel og lengi án nokkurs áreitis en þá er lítið mál að stugga aðeins við henni í hverri sveiflu og magna hana vel up.</p>
		<p>Spilað er á skálina með því að nudda handföngin með blautum lófunum. Gott er að gæta þess að hendurnar séu lausar við óhreinindi og puttafeiti (þvoið ykkur því með sápu) svo það náist tónn úr skálinni því feitin og álíka gerir handföngin svo sleip að það næst ekki að mynda neinn titring.</p>
		<p>Þegar titringurinn er kominn upp er áhugavert að gefa því gaum að titringurinn í skálinni er ekki jafn um alla skálina. Það eru aðallega fjögur svæði þar sem sveiflan verður mest. Þetta er vegna þess að skálin er að svigna til og frá þannig að tveir mótstæðir óróleikablettir skálarinnar svigna inn í skálina á meðan hinir tveir svigna út&mdash;og svo öfugt. Þannig verða til rólegir blettir mitt á milli tveggja aðliggjandi óróleikasvæða en það er það sem myndar rólega krossinn í yfirborði vatnsins.</p>
	</section>

{% endblock %}
