{% extends "visindasmidjan.html" %}
{% load staticfiles %}

{% block page_content %}

<h2>Speglar</h2>
<p>Við þekkjum flest venjulega flata spegla (svokallaða <em>planspegla</em>) vel. Þegar við horfum í slíka spegla sjáum við spegilmynd af okkur og umhverfi okkar, akkúrat öfugt handan spegilsins. Það er eins og hinum megin við spegilinn sé tvíburaveröld okkar endurgerð. Með því að sveigja spegilflötinn og/eða leggja fleiri spegla saman getum við fengið nokkuð nýstárlegri fyrirbæri og uppstillingarnar hér að neðan eiga að sýna nokkur þeirra.</p>
	<a href="flatir_speglar">
		<div class="bordi" style="background: url({% static "itarefni/img/bordi-speglasamloka-950x160px.jpeg" %});">
			<div class="bordatexti">Flatir speglar</div>
		</div>
	</a>
	<a href="speglabrunnur">
		<div class="bordi" style="background: url({% static "itarefni/img/bordi-speglabrunnur_A-950x160px.jpeg" %});">
			<div class="bordatexti">Speglabrunnur</div>
		</div>
	</a>
	<!--
	<a href="speglasamlokur">
		<div class="bordi" style="background: url({% static "itarefni/img/bordi-speglasamlokur-950x160px.jpeg" %});">
			<div class="bordatexti">Kattaraugu og speglasamlokur</div>
		</div>
	</a>
	-->
	<a href="sveigdir_speglar">
		<div class="bordi" style="background: url({% static "itarefni/img/bordi-holspeglar-950x160px.jpeg" %});">
			<div class="bordatexti">Sveigðir speglar</div>
		</div>
	</a>
	<a href="kuluspeglar">
		<div class="bordi" style="background: url({% static "itarefni/img/bordi-kuluspegill-950x160px.jpeg" %});">
			<div class="bordatexti">Kúluspeglar</div>
		</div>
	</a>

{% endblock %}
