{% extends "visindasmidjan.html" %}
{% load staticfiles %}

{% block page_content %}

<h2>Speglabrunnur</h2>
<img src="{% static 'itarefni/img/kristinn-2015.10.12.0124.jpeg' %}" style="width: 300px; float: right;" />
<p>Góður spegill endurkastar svo til öllu ljósi sem á hann fellur til baka. Þannig fæst björt og skýr spegilmynd. Ef spegill gleypti í sig hluta ljóssins (t.d. ef við værum með svartan speglandi flöt) væri spegilmyndin svipuð, bara dekkri. En það eru líka til speglar sem hleypa hluta ljóssins í gegnum sig.</p>

<p>Slíkir speglar kallast hálfspeglar og búa yfir ýmsum skemmtilegum eiginleikum. Einn þeirra getum við séð í speglabrunninum. Í brunninum eru björt ljós en hann stendur í myrkvuðu ljósfræðiherberginu. Neðst í brunninum er venjulegur (al-)spegill en efst liggur hálfspegill.</p>

<p>Hálfspegillinn hleypir helmingnum af ljósinu innan úr sér upp í gegnum hálfspegilinn en hinn hlutinn endurkastast aftur ofan í brunninn. Þar speglast það aftur upp af neðri speglinum en eingöngu helmingur þess nær út um hálfspegilinn í það skiptið. Hinn hlutinn (nú fjórðungur af upphaflega ljósmagninu) endurkastast að öðru sinni ofan í brunninn. Svona endurtekur þetta sig koll af kolli og því lítur það út fyrir að brunnurinn sé óendanlega djúpur.</p>

<h3>"Einstefnuspeglar"</h3>

<div style="display: flex; justify-content: flex-start;">
	<div style="width:200px; margin-right: 6px;">
<img src="{% static 'itarefni/img/Petty_Officer_Teneisha_Lattibeaudiere_reviews_the_contestants\'_times_after_the_Spring_Run_for_Fun_5K_at_Kabul_International_Airport.jpg' %}" height="120px" />
	</div>
	<div style="width:200px; margin-right: 6px;">
<a href="https://what-if.xkcd.com/14/"><img src="https://what-if.xkcd.com/imgs/a/14/short_answers_oneway.png" style="width: 200px;" /></a>
	</div>
</div>

<h3>Geislaskiptar</h3>
Michelson, þyngdarbylgjur.

<h3>Tilvísanir</h3>

{% endblock %}
