{% extends "visindasmidjan.html" %}

{% block page_content %}

<h2>Stjörnufræði</h2>
<p>Í stjörnufræði Vísindasmiðjunnar er horft til himins. Við skoðum snúning Jarðar og hvernig hann veldur ýmsum breytingum í umhverfi okkar. Síðan kíkjum við til stjarna, bæði á stórar og smárar og skoðum stjörnumerkin sem þær tilheyra. Hér að neðan eru hlekkir í efni tengt heimsókninni í Vísindasmiðjuna, á tvo helstu upplýsingavefi um Stjörnufræði á íslensku.</p>

<h3>Stjörnumerkin</h3>
<p>Þótt stjörnurnar séu slembið dreifðar um himinngeiminn hefur mannfólkið löngum séð munstur í þeim, líkt og myndir í skýjum. Sum þessara munstra hafa fengið nöfn sem við þekkjum sem stjörnumerkin. Meira efni um stjörnumerkin&mdash;hvaða stjörnumerki tilheyra hvaða fæðingardögum nú á dögum, sem og goðsögurnar sem þeim eru tengd&mdash;má finna á <a href="http://www.stjornufraedi.is/stjornuskodun/stjornumerkin/">síðu Stjörnufræðivefsins um stjörnumerki</a></li>
<p>Á geimurinn.is er svo að finna upplýsingar um <a href="http://www.geimurinn.is/alheimurinn/stjornur">stjörnur og samanburð á stærð stjarna</a></p>

<h3>Árstíðir</h3>
<p>Hraði og möndulhalli snúnings Jarðar hefur gífurleg áhrif á hana, og þá ekki síst lífríkið hennar. Stjörnufræðivefurinn hefur sérstaka síðu um áhrif þessa merkilega samspils á <a href="http://www.stjornufraedi.is/solkerfid/jordin/arstidir/">árstíðirnar</a></p>

<h3>Stjarnfræðilegir viðburðir</h3>
<p><a href="http://www.stjornufraedi.is/solkerfid/solin/solmyrkvi/solmyrkvi-20.-mars-2015/">Sólmyrkvinn 20. mars 2015</a></p>
<p><a href="http://www.stjornufraedi.is/solkerfid/tunglid/tunglmyrkvi/tunglmyrkvi-28.-september-2015/">Tunglmyrkvinn 28. september 2015</a></p>

<h3>Frekara efni</h3>
<p> Á netinu er fullt af skemmtilegum fróðleik um stjörnufræði. <a href="http://stjornufraedi.is/">Stjörnufræðivefurinn</a> og <a href="http://geimurinn.is/">Geimurinn.is</a> eru til dæmis stútfullir af áhugaverðu efni og nýjustu fréttum úr heimi stjörnufræðinnar.</p>
<p><a href="http://stjornufraedi.is/stellarium">Stellarium hugbúnaðurinn</a> sýnir okkur líkan af himninum hverju sinni. Hægt er skoða göngu himintunglanna fram og aftur í tímann. Hugbúnaðurinn er ókeypis og á íslensku.</a></p>
<p>Á Stjörnufræðivefnum er ekki bara efni fyrir nemendur og aðra fróðleiksfúsa heldur er þar <a href="http://www.stjornufraedi.is/fyrir-kennara/">sér horn fyrir kennara</a>.</p>
    Námsefni um stjörnufræði fyrir kennara - 

	 <h3>Hafa samband</h3>
	 <p>Sendið stjörnufræðikennaranum okkar fyrirspurn á <a href="mailto:saevarhb@hi.is">saevarhb@hi.is</a></p>


{% endblock %}
