{% extends "visindasmidjan.html" %}
{% load staticfiles %}

{% block page_content %}

	<h3>Íhvolfir speglar</h3>
	<div class="hugtakaskyring">Sveigðir fletir geta verið annað hvort <em>íhvolfir</em> eða <em>kúptir</em>. Á íhvolfum hlut er miðjan fjær athugandanum svo það myndast í speglinum smá holrúm eða hvolf. Kúptur hlutur er eins og hluti af yfirborði kúlu eða kúpli.</div>
	<p>Í Vísindasmiðjunni eru tveir stórir íhvolfir speglar. Annar er sveigður lárétt en hinn lóðrétt. Þegar staðið er mjög nærri speglinum er spegilmyndin nokkuð eðlileg. Það er vegna þess að maður tekur minna eftir sveigju hluta þegar maður er nærri þeim. Sem dæmi má nefna Jörðina. Þótt hún sé kúlulaga virðist hún flöt þar sem við stöndum rétt við yfirborð hennar.</p>
	<p>Þegar við fikrum okkur fjær speglinum virðumst við fitna þar sem stærri hluti spegilflatarins endurkastar ljósi frá okkur til augna okkar. Þegar við stöndum svo í krapparadíusi spegilsins eru allir hlutar hans hornrétt á augun okkar og því virðist myndin slitna í sundur.</p>
	<p>Ef við færum okkur enn fjær kemur myndin aftur saman en þá hefur nokkuð merkilegt gerst; það hefur víxlast á hægri og vinstri!</p>
	<div class="hugleiding">Hvor spegilmyndin rétt og hvor er öfug: Þessi í venjulegum speglum eða þessi þegar við stöndum fjarri íhvolfum spegli?</div>
	<p>Vegna sveigju spegilsins sjáum við í vinstri hlið okkar þegar við horfum hægra megin í spegilinn. Þegar við horfum svo í vinstri hluta spegilsins sjæaum við hægri hlið okkar.</p>
	<p>Lóðrétt sveigði spegillinn gerir nákvæmlega það sama, nema hvað hann teygir myndina lóðrétt og veldur endaskiptum á "uppi" og "niðri".</p>

{% endblock %}
