{% extends "visindasmidjan.html" %}

{% block page_content %}

<h2>Vísindaheimspeki</h2>
<p>Vísindavefurinn á svör við ótrúlegustu spurningum frá börnum, unglingum og fólki á öllum aldri. Meðal annars höfum við svarað spurningunni <a href="http://visindavefur.is/svar.php?id=683">Hver er erfiðasta spurningin í heiminum?</a> og <a href="http://visindavefur.is/svar.php?id=420">Hvernig vitið þið á Vísindavefnum svona mikið?</a></p> 

<p>En hvað eru vísindi og hvað gera vísindamenn eiginlega? Hvenær urðu vísindin til og af hverju? Er eitthvað að marka vísindi og hver er munurinn á vísindum og gervivísindum? Geta draugar, andaglas og geimverur hjálpað okkur að svara þessum spurningum?</p>
 
<p>Við hvetjum alla áhugasama nemendur í Vísindamiðjunni til að halda áfram að hugsa og velta þessu fyrir sér. Á Vísindavefnum er aragrúi spurninga frá lesendum og svör við pælingum af þessu tagi. Hér eru nokkur dæmi:</p>
<ul> 
	<li><a href="http://visindavefur.is/svar.php?id=64195">Hvernig og hvenær urðu vísindi til?</a></li>
	<li><a href="http://visindavefur.is/svar.php?id=63030">Hver er munurinn á gervivísindum og vísindum?</a></li>
	<li><a href="http://visindavefur.is/svar.php?id=6085">Hvernig geta vísindamenn verið áreiðanlegir ef þeir breyta kenningum ár frá ári? Og það síðustu 400 ár!</a></li>
	<li><a href="http://visindavefur.is/svar.php?id=51747">Er það satt að maður komist í samband við anda í andaglasi?</a></li>
	<li><a href="http://visindavefur.is/svar.php?id=7095">Eiga geimverur eftir að fara til Evrópu?</a></li>
</ul>
<br />

<p>Við hvetjum að sjálfsögðu þá sem enn eru fróðleiksfúsir að senda okkur fleiri spurningar! Við reynum að svara þeim eins fljótt og hægt er.</p>
<p><a href="http://visindavefur.is/hvers_vegna.php">Spurðu okkur spurningar með því að smella hér</a></p>

	<h3></h3>
	<h3></h3>
	<h3></h3>
	<h3></h3>

{% endblock %}
